---
import config from "../config.json"
import Layout from "../layouts/Layout.astro";
import Banner from "../components/Banner.astro"
import RatingPreview from "../components/RatingPreview.astro";

const dogs = await Astro.glob("./dogs/*.md")
const categories = config.categories.map(category => 
	category.title
	)
---

<Layout isHome={true}>
	<main class="space-y-12 mb-12">
		<div class="">
			<Banner title="The Definitive Vegan Hot Dog Rankings" />
			{config.categories.map(category => (
			<h3 class="text-2xl font-bold mb-2 text-center">{category.title}</h3>

			<ul class="max-w-screen-lg mx-auto space-y-6 mb-12">
				{dogs
					.filter(dog => dog.frontmatter.rating >= category.minRating)
					.filter(dog => dog.frontmatter.rating <= category.maxRating)
					.map(dog =>
						<RatingPreview dog={dog.frontmatter.title} brand={dog.frontmatter.brand} rating={dog.frontmatter.rating}
					excerpt={dog.frontmatter.excerpt} url={dog.url} />
				)}
			</ul>
			))}




		</div>
	</main>
</Layout>